// Color Scheme
// First Color Scheme 
$White: #fff;
$Snow: #fafafa;
$QuickSilver: #a0a0a0;
// Second Color Scheme
$JellyBean: #e56353;
$Salmon: #e97f72;
$PastelPink: #f0a9a1;
// Third Color Scheme
$GraniteGray: hsl(70, 3%, 40%);
$TaupeGray: #91918d;
$Gray: #babab8;
// Font Family
$Raleway: 'Raleway', sans-serif;
// Typography
// Font Weight
$bold: 700;
$regular: 400;
$extra-light: 200;
// Font Sizes
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
