
/* Main Section*/
.container--main {
  padding: 200px;
}
.title--main {
  padding-bottom: 100px;
}
.main__titles {
  background: $JellyBean;  
  color: $White;
  font-size: $large;
  text-align: center;
  padding: 200px;
  margin: 0;
  .main__title {    
    font-weight: $extra-light;
  }
}
.title {
  font-weight: $bold;
}
//gray article

.main__article-gray {
  margin: 0;
  background: $TaupeGray;
  color: $White;
  padding: 100px 200px;
  img {
    width: 100%;
  }
  & .title {
    font-weight: bold;
    font-size: $large;
    margin-top: 20px;
    text-align: center;

  }

}
//white article
.article-white {
  margin: 0;
  //background: $White;  
  //text-align: center;
  padding: 100px 200px;

  & .title { 
    color: $GraniteGray;
    font-weight: bold;
    font-size: $large;
    margin-top: 20px;
    text-align: center;

  }
}
.main__image {
  width: 100%;
  
}
/* about seccion */
//Javiera

.container-Jellybean{
  background: $JellyBean;
  font-size: $xx-large;
  font-weight: bold;
  color: $White;
  text-align: center;
  padding: 100px;
  margin: 0;  
}

/*
.title { 
  color: $GraniteGray;
  font-weight: bold;
  font-size: $large;
  margin-top: 20px;
  text-align: center;

}
*/
.about__image {
  margin: 2% 30%;
  width: 50%;
}
.about__name {
  margin: 0;
  color: $GraniteGray;
  text-align: center;
}
/*
.about__title-Roberto {
  margin: 0;
  color: $GraniteGray;
  padding: 100px 200px;

  & .title {
    font-weight: bold;
    font-size: $large;
    margin-top: 20px;
    text-align: center;

  }
}
*/
/* contacto */
/*
.contact {
  background: $JellyBean;  
  color: $White;
  text-align: center;
  padding: 20px;
  margin: 0;
  & .contact__title {
    font-size: $large;  
  font-weight: $bold;
  }
  & .subtitle {
    font-weight: normal;
  }
}
*/

.button {
  padding: 10px 80px;
}

.button__text {
  color: $GraniteGray;
  font-weight: bold;
  font-size: $large;
}
@media only screen and (max-width: 600px) {
  .button {
    padding: 1px 8px;
  }
}
/* footer */
.footer {
  background: $GraniteGray;
  font-size: $xx-large;
  color: $White;
  text-align: center;
  padding: 20px;
  margin: 0;
  & .title {
    font-weight: $extra-light;
  }
  & .subtitle {
    font-weight: bold;
  }
}