// Color Scheme
// First Color Scheme 
$White: #FFF;
$Isabelline: #ECECEC;
$Light-gray: #D1D1D1;
// Second Color Scheme
$Smoky-black: #0C0910;
$Granite-gray: #646266;
$Quick-silver: #A6A5A8;
// Third Color Scheme
// Font Family
$Raleway: 'Raleway', sans-serif;
$OldStandard: 'Old Standard TT', serif;
// Typography
// Font Weight
$bold: 700;
$regular: 400;
// Font Sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;