.navbar-nav {
    // margin-left: 78%;
    margin-right: 2%;
    font-weight: $bold;
}
.navbar {
  background: $White;
  padding: 0;
  
}
.container-fluid {
    padding: 0;
  }
.xda {
  font-family: $OldStandard;
  background: $Smoky-black;
  padding: 38px;
  color: $White;
  font-weight: $bold;
  font-size:$xx-large;
}